
body {
	display: flex;
	justify-content: space-around;
}

.tree-container {
	width: 100%;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.tree {
	width: 452px;
}

.topper {
  width: 100%;
  text-align: center;
  font-size: 2.4em;
}

.present-container {
	font-size: 3em;
	text-align: center;
}